.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    text-decoration: none;
}

.link {
    text-decoration: none;
    margin-left: 10px;
    font-size: .75rem;
    font-weight: 650;
}

.link-btn {
    margin-left: 10px;
}

.sidebar {
    display: none;
    height: 100vh;
    top: 0;
    right: 0;
    width: 250px;
    position: fixed;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .2);
    border-radius: 0 0 0 5px;
    padding-top: 50px;
    z-index: 999;
}

.sidebar .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.sidebar .container .icon {
    text-align: right;
    width: 100%;
    padding: 0;
    background-color: transparent;
}

.sidebar .container .icon i {
    font-size: 1.7rem;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
    padding: 0px 5px;
    transition: color .3s ease-in-out;
}

.sidebar .container .icon i:hover {
    background-color: rgb(236, 236, 236);
}

.sidebar .link {
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar .link:hover {
    text-decoration: underline;
}

.sidebar .btn-el {
    margin-top: 30px;
}

button.for-sidebar {
    border: none;
    background-color: white;
}

button.open-btn {
    border: 2px solid rgb(210, 210, 210);
    border-radius: 5px;
}

.page {
    padding: 70px 0;
}

.header {
    text-align: center;
    margin-bottom: 70px;
}

p.sub-title {
    font-weight: 400;
    font-size: 16px;
}

.product-card {
    height: 425px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;
    overflow: hidden;
}

.product-card:hover img {
    transform: scale(1.1);
}

.product-card img {
    transition: transform .5s ease;
}

.product-details {
    font-weight: 600;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    width: 400px;
    padding: 20px;
}

.form input::placeholder {
    color: gray;
}

form p {
    font-size: 17px;
}

.form p span {
    cursor: pointer;
}

p.error {
    background-color: rgb(154, 73, 73);
    font-size: 18px;
}

.user-email {
    font-size: 15px;
}

.flex-page {
    display: flex;
    justify-content: center;
}

.product-description {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    max-width: 1000px;
    align-items: center;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-title {
    font-size: 1.35rem;
}

.product-price {
    font-size: 1.3rem;
    font-weight: 600;
}

.product-text {
    font-size: 17px;
}

.cart-title {
    font-size: 20px;
}

.summary-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding: 30px 20px 20px 20px;
}

.summary-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4.cart-list-title {
    font-size: 18px;
}

.item-details {
    display: flex;
    align-items: center;
}

.item-image {
    width: 50%;
}

.item-image img {
    width: 100%;
    border-radius: 5px;
}

.item-name {
    font-size: 18px;
    font-weight: 500;
}

.item-price {
    font-size: 17px;
    font-weight: 500;
}

.item-qty-controls {
    display: flex;
    justify-content: center;
}

.item-qty-controls button {
    padding: 1px 13px;
    border: none;
    background-color: transparent;
}

.item-qty-controls span {
    font-size: 13px;
    font-weight: 500;
}

.item-controls .remove-btn {
    font-size: 14px;
}

p.subtotal,
p.total {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.subtotal span,
p.total span {
    font-weight: 500;
}

p.total span {
    font-size: 21px;
}

.order-btn button {
    font-size: .8rem;
}


@media (min-width: 992px) {
    .item-image {
        width: 300px;
    }
}

@media (max-width: 900px) {
    .hideOnMobile {
        display: none;
    }
}

@media (min-width: 900px) {
    button.open-btn {
        display: none;
    }
}